@model IEnumerable<ChangeRequest>
@{
    ViewData["Title"] = "Change Managment System";
}

<div style="display : flex; align-items: end ; justify-content : center ; width : 100% ;border : 2px solid darkcyan ; padding : 5px;">
        <img src="~/FFBL.jpg" height="80" width="230" style="display : inline;" />
        <h1  style=" padding-left : 20px; color : darkcyan"> @ViewData["Title"]</h1>
    </div>
    <br />
<div class="container p-2"></div>
<div class="row pt-2">
    <div class="col-6">
        <h2  style="color : darkcyan">Change Requests</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Home" asp-action="Create" class="btn btn-primary" style="background : darkcyan"> <i class="bi bi-plus-circle"></i> &nbsp; Create New Change Request</a>
    </div>



    <br />
    <br />
    <br />
    <br />
    <table class="table table-bordered table-striped" style="width:100%">

        <thead>
            <tr>

                <th> Title</th>
                <th>Approval Status</th>
                <th>Date Created</th>
                <th>Submission Status</th>
                <th></th>
            </tr>

        </thead>

        <tbody>

            @foreach (var obj in Model)
            {
                <tr>
                    <td width="40%">
                        @obj.WhatIsTheChange
                    </td>
                    <td width="15%">
                        @obj.Status
                    </td>
                    <td width="15%">
                        @obj.DateCreated
                    </td>
                    
                    <td width="15%">
                        @obj.SubmissionStatus
                    </td>
                    @if(obj.SubmissionStatus == SubmissionStatus.Draft)
                    {
                        <td>
                            <div class=" btn-group" role="group">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                            </div>
                        </td>
                    }else{
                    <td>
                        <div class=" btn-group" role="group">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="View" asp-route-id="@obj.Id"><i class="bi bi-eye-fill"></i> View</a>
                        </div>
                    </td>
                    }
                    

                </tr>
            }
        </tbody>
    </table>

</div>